@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir.woff2") format("woff2");
}

@font-face {
  font-family: "vazir-bold";
  src: url("../fonts/vazir-bold.woff2") format("woff2");
}

body {
  font-family: "vazir";
  direction: rtl;
  text-align: right;
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

svg {
  width: 20px;
  height: 20px;
}

.bold-font {
  font-family: "vazir-bold";
}

h6.btn {
  pointer-events: none;
}

.ml-4 {
  margin-left: 2rem !important;
}

.text-dark {
  color: #333 !important;
}

.text-light {
  color: #f5f5f5 !important;
}

.text-light:hover {
  color: #fff !important;
}

.text-lighter {
  color: #fcfcfc !important;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.home {
  position: relative;
}

.home .home-img img {
  animation: homeAnimation 6s linear infinite;
}

@keyframes homeAnimation {
  0%,
  100% {
    transform: translateY(15px);
  }
  25% {
    transform: translateX(15px);
  }
  50% {
    transform: translateY(-15px);
  }
  75% {
    transform: translateX(-30px);
  }
}

.home .shape div {
  position: absolute;
  opacity: 0.08;
  width: 100px;
  height: 100px;
  background: url("../imgs/star-solid.svg");
  background-repeat: no-repeat;
  animation: shapeAnimation 10s linear infinite;
}

.home .shape div:nth-child(1) {
  top: 70%;
  right: 2%;
}

.home .shape div:nth-child(2) {
  top: 40%;
  left: 2%;
}

.home .shape div:nth-child(3) {
  top: 15%;
  left: 40%;
}

@keyframes shapeAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.about {
  padding: 100px 0;
}

.about .about-img img {
  width: 220px;
}

.about ul li {
  margin-bottom: 10px;
}

.about ul svg {
  margin-left: 2px;
}
