@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir.woff2") format("woff2");
}

@font-face {
  font-family: "vazir-bold";
  src: url("../fonts/vazir-bold.woff2") format("woff2");
}

body {
  font-family: "vazir";
  direction: rtl;
  text-align: right;
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

svg {
  width: 20px;
  height: 20px;
}

.bold-font {
  font-family: "vazir-bold";
}

.ml-4 {
  margin-left: 2rem !important;
}

.text-dark {
  color: #333 !important;
}

.text-dark:hover {
  color: #111 !important;
}

.text-light {
  color: #f5f5f5 !important;
}

.text-light:hover {
  color: #fff !important;
}

.text-lighter {
  color: #fcfcfc !important;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.home .home-img img {
  animation: homeAnimation 6s linear infinite;
}

@keyframes homeAnimation {
  0%,
  100% {
    transform: translateY(15px);
  }
  25% {
    transform: translateX(15px);
  }
  50% {
    transform: translateY(-15px);
  }
  75% {
    transform: translateX(-30px);
  }
}
