.header,
.home {
  background-color: #d63031;
}

.home a {
  transition: all 0.2s ease-in-out;
}

.home a:hover {
  color: #d63031 !important;
}

.title h6 {
  background-color: #d63031;
  color: #fcfcfc;
}

.about ul svg,
.features-item svg {
  fill: #d63031;
}
